body{
    margin: 0;;
    padding: 0;
    float: left;
    width: 100%;
}
*{
    box-sizing: border-box;
    background-color: black;
}
.login-page{
    height: 500px;
}
.outer-box{
    width: 100%;
    display: flex;

    justify-content: center;
    margin-top: 4%;    
}
.inner-box{
    color: white;
}
.logo{
    margin: 55px 95px 
}
.form-control{
    padding: 10px;
    width: 100%;
    color: white;
    margin: 10px 0;
    font-weight: 600;
}
.form-btn{
    width: 100px;
    background-color: white;
    height: 50px;
    border: none;
    border-radius: 18px;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 700;
    padding-top: 12px;
    margin-top: 12px;
    cursor: pointer;
}
.text-form a{
    text-decoration: none;
}

/* login-form */
.navbar{
    display: flex;
    justify-content: space-between;
}
.login-logo{
    margin: 12px;
}
button{
    width: 130px;
    height: 60px;
    border: 2px solid white;
    border-radius: 18px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin: 15px 12px;
    cursor: pointer;
}
.detail-container{
    color: white;
    margin: 0 20%;
    height: 650px;
}
.detail-container h1{
    font-style: italic;
    margin: 40px 0;
}
.value-control{
    padding: 10px;
    width: 100%;
    color: white;
    margin: 5px 0 25px;
    font-weight: 600;
    border-radius: 6px;
}
label{
    font-weight: 600;
}
.date-picker::-webkit-calendar-picker-indicator{
    filter: invert(1);
}
.btn-control{
    width: 100px;
    background-color: white;
    height: 40px;
    border: none;
    border-radius: 12px;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 700;
    padding-top: 7px;
    margin-bottom: 20px;
    cursor: pointer;
}

/* table css */
.table-container{
    margin: 10px;

}
th, td{
    color: white;
    border: 2px solid white;
    border-collapse: collapse;
    text-align: center;
    border-spacing: 50px;
    padding: 13px 17px;
}
.btn{
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    background-color: red;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}
.btn:hover {
    background-color: #ff6347;
}
